.punkt a {
    margin: 24px;
}

.aaa {
    margin: 24px;

}

.logo {
    text-align: center;
}

p {
    margin: 24px;

}

.punkt {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.block {
    margin: 8px;
}

hr {
    margin: 8px;
}
