@media (prefers-color-scheme: light) {
    .them {
        border: none;
        background-color: #FDEB6B;
    }
}

@media (prefers-color-scheme: dark) {
    .them {
        border: none;
        background-color: #A59647;
    }
}